main .container {
    border: 1px solid #e1e1e1;
    padding: 30px 50px;
  }
  
  main .container .title {
    padding-left: 10px;
    margin-bottom: 30px;
    border-left: 4px solid #9eb5dc;
  }
  
  main .container .title .text {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  main .container .title .time {
    font-size: 14px;
    color: #666;
  }
  
  main .container .content {
    font-size: 16px;
    color: #666;
  }
  
  main .container .content p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 1.5;
    text-indent: 2em;
  }